* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: $t-font-sans;
  font-size: 14px;
  line-height: 1.6;
  color: $color-text;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-top: 0;
}

// App
.app {
  background-color: #eff0fb;
}

.main {
  @include create-container;

  min-height: calc(100vh - 60px);
  padding: $gap 0;

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
}

// Sidebar
.sidebar {
  max-width: 300px;
  margin-right: $gap;
  flex: 1;

  &__inner {
    padding: $gap;
    background-color: #fff;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 10px #947bb41a;
    position: sticky;
    top: 30px;
    left: 0;
  }

  .select {
    margin-bottom: $gap;
    cursor: pointer;

    * {
      cursor: pointer;
    }
  }

  .button {
    width: 100%;
  }
}

.content {
  position: relative;
  flex: 1;
  background: #fff;
  border-radius: 5px;
  // padding: $gap;
  box-shadow: 0 3px 10px #947bb41a;
}