$gap: 30px;
$border-radius: 3px;

// typography
$t-font-sans: 'Roboto', sans-seriff;

// Color
$color-text: #232238d1;
$color-main: #6A63DD;
$color-accent: #72D2E3;
$color-border: #ECECFE;
$color-info: #1890FF;
$color-success: #52C41A;
$color-warning: #FAAD14;
$color-error: #FF4D4F;